<% include ../partials/header %>

<div class="hold-transition skin-blue sidebar-mini">

    <%include ../partials/admin-header%>   

    <div class="wrapper">

    <%include ../partials/admin-sidebar%>                   
    
        <div class="content-wrapper">
        
            <section class="content container-fluid">

                <div class = "container">
                    <% include ../partials/_messages%>
            
                    <form action="/admin/change-password" method="post" class="responsive-form update-profile-form">
            
                        <div class="form-group">
                            <label for="new-password">New Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="password" name="new-password" id="new-password" minlength="6" maxlength="32" class="form-control input-lg" placeholder="Enter New Password">
                            </div>
                        </div>
            
                        <div class="form-group">
                            <label for="confirm-password">Confirm Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="password" name="confirm-password" id="confirm-password" minlength="6" maxlength="32" class="form-control input-lg" placeholder="Enter New Password Again">
                            </div>
                        </div>
            
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg update-button responsive-button" onclick='validateChangePassword()'>Update</button>
                            <button type="reset" class="btn btn-default btn-lg reset-button responsive-button">Reset</button>    
                        </div>
                    </form>
            
                </div>
            </section>
        </div>
    </div>
</div>

<% include ../partials/footer %>