<% include ../partials/header %>
<div class="hold-transition skin-blue sidebar-mini">
    <%include ../partials/admin-header%>   
    <div class="wrapper">
    <%include ../partials/admin-sidebar%>                   
        <div class="content-wrapper">
            <section class="content container-fluid">
                <div class='admin-main'>
                    <div class='container'>
                        <form class='new-user-form responsive-form' action='/admin/user/new' method='POST'>
                        <% include ../partials/_messages%>
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Enter Name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone-number">Phone Number</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                                        <input type="text" name="phone-number" id="phone-number" class="form-control input-lg" minlength="1" maxlength="10" placeholder="Enter Phone Number" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email Address</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Enter Email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="password" name="password" id="password" minlength="6" maxlength="32" class="form-control input-lg" placeholder="Enter Password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirm-password">Confirm Password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="password" name="confirm-password" id="confirm-password" minlength="6" maxlength="32" class="form-control input-lg" placeholder="Enter Password Again" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg sign-up-button responsive-button" onclick='validateSignUp()'>Sign Up</button>
                                    <button type="reset" class="btn btn-default btn-lg clear-button responsive-button">Clear</button>    
                                </div>
                            </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<% include ../partials/footer %>
