<% if( errors && errors.length > 0 ) {%>
    <div class="alert alert-danger" role="alert"><%= errors %></div>
<% } else if(alert && alert.length > 0){ %>
    <div class="alert alert-warning" role="alert"><%= alert %></div>
<% } else if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert"><%= success %></div>
<% } %>
