<aside class="main-sidebar">
            
    <section class="sidebar">

        <ul class="sidebar-menu" data-widget="tree">
        <li><a href="/admin"><i class="fa fa-link"></i> <span>Home</span></a></li>
        <li class="header">Order Management</li>
        <li><a href="/admin/order"><i class="fa fa-link"></i> <span>Change Order Status</span></a></li>
        <li class="header">User Management</li>
        <li><a href="/admin/user"><i class="fa fa-link"></i> <span>View User</span></a></li>
        <li><a href="/admin/user/new"><i class="fa fa-link"></i> <span>Add User</span></a></li>
        <li class="header">Food Management</li>
        <li><a href="/admin/food"><i class="fa fa-link"></i> <span>View Item</span></a></li>
        <li><a href="/admin/food/new"><i class="fa fa-link"></i> <span>Add Item</span></a></li>
        <li class="header">Profile Management</li>   
        <li><a href="/admin/change-password"><i class="fa fa-link"></i> <span>Change Password</span></a></li>
        </ul>
    </section>

</aside>