<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fa fa-cutlery"></i> &nbsp TopFoods</a>
            </div>
            <ul class="nav navbar-nav">
            <li><a href="/" id="home">Home</a></li>
            <li><a href="/menu" id="menu">Menu</a></li>
            <li><a href="/aboutus" id="about-us">About Us</a></li>
            <li><a href="/contactus" id="contact-us">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(!user) {%>
                <li><a href="/signup" id="signup"><i class="fa fa-user-plus"></i> Sign Up </a></li> 
                <li><a href="/signin" id="signin"><i class="fa fa-sign-in"></i> Sign In </a></li>  
                <% } else { %>
                <li><a href="/profile" id='profile'><i class="fa fa-user"></i> Profile </a></li>
                <li><a href="/cart" id='cart'><i class="fa fa-cart-arrow-down"></i> Cart </a></li>
                <li><a href="/order" id='order'><i class="fa fa-shopping-cart"></i> Order </a></li>
                <li><a href="/signout" id='signout'><i class="fa fa-sign-out" ></i> Sign Out </a></li>                    
                <% } %>
            </ul>
        </div>
    </nav>
</header>