<div class="sidenav">

    <button class="dropdown-btn">Order Management 
    </button>
    
    <div class="dropdown-container">
        <a href="/admin">Change Order Status</a>
    </div>

    <button class="dropdown-btn">User Management 
    </button>

    <div class="dropdown-container">
        <a href="/admin/user">View Users</a>
        <a href="/admin/user/new">Add User</a>
    </div>

    <button class="dropdown-btn">Food Management 
    </button>

    <div class="dropdown-container">
        <a href="#">View Items</a>
        <a href="#">Add Item</a>
    </div>

</div>