<% include partials/header%>

<% include partials/navigation%>


<section>
        <div class="container menu-form">

        <% include partials/_messages %>


            <br>

            <div class="row">
                <ul class="category-choice">
                    <li><a id="Chicken">Chicken</a></li>
                    <li><a id="Seafood">Seafood</a></li>
                    <li><a id="Appetizers">Appetizers</a></li>
                    <li><a id="Rice">Rice</a></li>
                    <li><a id="Bread">Bread</a></li>
                    <li><a id="Vegetable">Vegetable</a></li>
                    <li><a id="Beverage">Beverage</a></li>
                    <li><a id="Dessert">Dessert</a></li>
                </ul>
            </div>

            <hr>

            <% include partials/menu-item %>

        </div>

    </div>
</section>

<% include partials/footer%>

