<% include partials/header%>

<% include partials/navigation%>

<section>
        <div class="container menu-form">

            <br>

            <div class="row">
                <ul class="category-choice">
                <li><a href="#">Chicken</a></li>
                <li><a href="#">Seafood</a></li>
                <li><a href="#">Appetizers</a></li>
                <li><a href="#">Rice</a></li>
                <li><a href="#">Bread</a></li>
                <li><a href="#">Vegetable</a></li>
                <li><a href="#">Beverage</a></li>
                <li><a href="#">Dessert</a></li>
                </ul>
            </div>

            <hr>

            <% include partials/menu-item %>

        </div>

    </div>
</section>

<script src="/js/menu.js"></script>

<% include partials/footer%>

