<% include partials/header %>

<% include partials/navigation %>

    <div class = "container">
        <% include partials/_messages%>

        <form action="/update-profile" method="post" class="update-profile-form responsive-form">
            
            <div class="form-group">
                <label for="name">Name</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Enter New Name" value = "<%= User.name%>" required>
                </div>
            </div>
            
            <div class="form-group">
                <label for="phone-number">Phone Number</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                    <input type="text" name="phone-number" id="phone-number" class="form-control input-lg" minlength="1" maxlength="10" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Enter New Phone Number" value = "<%= User.phoneNumber%>" required>
                </div>
            </div>
            
            <div class="form-group">
                <label for="email">Email Address</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Enter New Email"  value = "<%= User.username%>" required>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg update-button responsive-button" onclick='validateUpdate()'>Update</button>
                <button type="reset" class="btn btn-default btn-lg reset-button responsive-button">Reset</button>    
            </div>
        </form>

    </div>

<% include partials/footer %>