/*Big tablet to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width: 1200px){

    /* ------------------------------------------------ */
    /* -------------------  SIGN IN    ---------------- */
    /* ------------------------------------------------ */

    .responsive-form {
        width: 40%;
        margin: 30px auto;
    }

    .responsive-button {
        width: 35%;
        margin: 10px 20px;
    }
    
    /* ------------------------------------------------ */
    /* -------------------  SIGN UP   ---------------- */
    /* ------------------------------------------------ */

    /* form.sign-up-form {
        width: 40%;
        margin: 30px auto;
    }

    form.sign-up-form > div.form-group > .btn.sign-up-button,
    form.sign-up-form > div.form-group > .btn.clear-button {
        width: 35%;
        margin: 10px 20px;
    } */

    /* ------------------------------------------------ */
    /* -------------------   ORDER     ---------------- */
    /* ------------------------------------------------ */

    /* form.order-form {
        width: 40%;
        margin: 30px auto;
    }

    form.order-form > div.form-group > .btn.submit-button,
    form.order-form > div.form-group > .btn.clear-button {
        width: 35%;
        margin: 10px 20px;
    } */

    /* ------------------------------------------------- */
    /* -------------------   PROFILE    ---------------- */
    /* ------------------------------------------------- */

    /* form.update-profile-form {
        width: 40%;
        margin: 30px auto;
    }

    form.update-profile-form > div.form-group > .btn.update-button,
    form.update-profile-form > div.form-group > .btn.reset-button {
        width: 35%;
        margin: 10px 20px;
    } */

    /* ------------------------------------------------ */
    /* -------------------  INDEX  -------------------- */
    /* ------------------------------------------------ */

    a.btn.main-button:link ,
    a.btn.main-button:visited {
        width: 25%;
    }

    div.jumbotron.vertical-center  h1 {
        font-size: 2em;
    }

    div.jumbotron.vertical-center  h3 {
        font-size: 1.4em;
    }

}

/*Small tablet to big tablet:from 768px to 1023px*/
@media only screen and (max-width: 1023px){

    /* ------------------------------------------------ */
    /* -------------------  SIGN IN    ---------------- */
    /* ------------------------------------------------ */

    .responsive-form {
        width: 40%;
        margin: 30px auto;
    }
    
    .responsive-button {
        width: 35%;
        margin: 10px 20px;
    }

    /* ------------------------------------------------ */
    /* -------------------  SIGN UP   ---------------- */
    /* ------------------------------------------------ */

    /* form.sign-up-form {
        width: 40%;
        margin: 30px auto;
    }

    form.sign-up-form > div.form-group > .btn.sign-up-button,
    form.sign-up-form > div.form-group > .btn.clear-button {
        width: 35%;
        margin: 10px 20px;
    } */

    /* ------------------------------------------------ */
    /* -------------------   ORDER     ---------------- */
    /* ------------------------------------------------ */

    /* form.order-form {
        width: 40%;
        margin: 30px auto;
    }

    form.order-form > div.form-group > .btn.submit-button,
    form.order-form > div.form-group > .btn.clear-button {
        width: 35%;
        margin: 10px 20px;
    } */

    /* ------------------------------------------------- */
    /* -------------------   PROFILE    ---------------- */
    /* ------------------------------------------------- */

    /* form.update-profile-form {
        width: 40%;
        margin: 30px auto;
    }

    form.update-profile-form > div.form-group > .btn.update-button,
    form.update-profile-form > div.form-group > .btn.reset-button {
        width: 35%;
        margin: 10px 20px;
    } */

    /* ------------------------------------------------ */
    /* -------------------  INDEX  -------------------- */
    /* ------------------------------------------------ */

    a.btn.main-button:link ,
    a.btn.main-button:visited {
        width: 25%;
    }

    div.jumbotron.vertical-center  h1 {
        font-size: 2em;
    }

    div.jumbotron.vertical-center  h3 {
        font-size: 1.4em;
    }
}


/*Small phones to small tablets: from 481px to 767px*/
@media only screen and (max-width: 767px){

    /* ------------------------------------------------ */
    /* -------------------  SIGN IN    ---------------- */
    /* ------------------------------------------------ */

    .responsive-form {
        width: 50%;
        margin: 30px auto;
    }
    
    .responsive-button {
        width: 40%;
        margin: 10px;
    }

    /* ------------------------------------------------ */
    /* -------------------  SIGN UP   ---------------- */
    /* ------------------------------------------------ */

    /* form.sign-up-form {
        width: 50%;
        margin: 30px auto;
    }

    form.sign-up-form > div.form-group > .btn.sign-up-button,
    form.sign-up-form > div.form-group > .btn.clear-button {
        width: 40%;
        margin: 10px;
    } */

    /* ------------------------------------------------ */
    /* -------------------   ORDER     ---------------- */
    /* ------------------------------------------------ */

    /* form.order-form {
        width: 50%;
        margin: 30px auto;
    }

    form.order-form > div.form-group > .btn.submit-button,
    form.order-form > div.form-group > .btn.clear-button {
        width: 40%;
        margin: 10px;
    } */

    /* ------------------------------------------------- */
    /* -------------------   PROFILE    ---------------- */
    /* ------------------------------------------------- */
/* 
    form.update-profile-form {
        width: 50%;
        margin: 30px auto;
    }

    form.update-profile-form > div.form-group > .btn.update-button,
    form.update-profile-form > div.form-group > .btn.reset-button {
        width: 40%;
        margin: 10px;
    } */

    /* ------------------------------------------------ */
    /* -------------------  INDEX  -------------------- */
    /* ------------------------------------------------ */

    a.btn.main-button:link ,
    a.btn.main-button:visited {
        width: 30%;
    }

    div.jumbotron.vertical-center  h1 {
        font-size: 1.8em;
    }

    div.jumbotron.vertical-center  h3 {
        font-size: 1.2em;
    }

}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px){

    /* ------------------------------------------------ */
    /* -------------------  SIGN IN    ---------------- */
    /* ------------------------------------------------ */

    .responsive-form {
        width: 80%;
        margin: 30px 20px;
    }
    
    .responsive-button {
        width: 40%;
        margin: 12px;
    }

    /* ------------------------------------------------ */
    /* -------------------  SIGN UP   ---------------- */
    /* ------------------------------------------------ */

    /* form.sign-up-form {
        width: 80%;
        margin: 30px 20px;
    }

    form.sign-up-form > div.form-group > .btn.sign-up-button,
    form.sign-up-form > div.form-group > .btn.clear-button {
        width: 40%;
        margin: 12px;
    } */

    /* ------------------------------------------------ */
    /* -------------------   ORDER     ---------------- */
    /* ------------------------------------------------ */

    /* form.order-form {
        width: 80%;
        margin: 30px 20px;
    }

    form.order-form > div.form-group > .btn.submit-button,
    form.order-form > div.form-group > .btn.clear-button {
        width: 40%;
        margin: 12px;
    } */

    /* ------------------------------------------------- */
    /* -------------------   PROFILE    ---------------- */
    /* ------------------------------------------------- */

    /* form.update-profile-form {
        width: 80%;
        margin: 30px 20px;
    }

    form.update-profile-form > div.form-group > .btn.update-button,
    form.update-profile-form > div.form-group > .btn.reset-button {
        width: 40%;
        margin: 12px;
    } */


    /* ------------------------------------------------ */
    /* -------------------  INDEX  -------------------- */
    /* ------------------------------------------------ */

    a.btn.main-button:link ,
    a.btn.main-button:visited {
        width: 40%;
    }

    div.jumbotron.vertical-center  h1 {
        font-size: 1.8em;
    }

    div.jumbotron.vertical-center  h3 {
        font-size: 1.2em;
    }
}