<% include ../partials/header %>

<% include ../partials/navigation %>

<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="thumbnail">
                <img class="restaurant-image" src="/img/restaurant.jpg" alt="TopFoods Restaurant">
            </div>
        </div>
        <div class="col-md-7">
            <h3> Welcome to TopFoods. </h3>
            <p>
                TopFoods has a little bit of everything for everyone.
                We Offer a wide selection of variety of dishes.
                We support your healthy lifestyle through the use of fresh, organic and raw food.
                We believe in real food and that everyone deserves access to real food.
                The demand of healthy food is on the rise and we are here to meet that demand. 
            </p>
        </div>
    </div>

    <div class="row restaurant-details">
        <h3>Address:</h3>
        <p> 14/B Road No. 16
            Near Nehru Nagar 
            Thane(W) - 400601</p>
        <h4> Contact : 8898870000</h4>
        <h4> Hours : 12.00 P.M. - 12.00 A.M.</h4>
    </div>

</div>

<% include ../partials/footer %>
