<%include ../partials/header%>
    
    <body class="main">

        <div class="container">
            <div class="jumbotron vertical-center">
                <h1>Welcome to TopFoods!</h1>
                <h3> Freaky fast , Freaky good.</h3>
                <a href="/menu" class="btn main-button">Order Food</a>
            </div>
        </div>

<% include ../partials/footer%>